.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
/* Body */
@import url('https://fonts.googleapis.com/css?family=Bigelow+Rules|Poppins&display=swap');
h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 6rem;
  color: #0ccac4;
  margin-bottom: 20px;
}
h2 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}
p {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
